In [121]:
import pandas as pd

In [ ]:
This notebook runs analysis on CPS claims in Texas

In [131]:
df=pd.read_csv("investigations.csv")

In [ ]:
##This cell shows the top 20 lines of data

In [132]:
df.head(20)

,Fiscal Year,County,Region,Type of Allegation,Allegation Count
0,2024,Armstrong,1-Lubbock,Medical Neglect,3
1,2024,Armstrong,1-Lubbock,Neglectful Supervision,12
2,2024,Armstrong,1-Lubbock,Physical Abuse,2
3,2024,Armstrong,1-Lubbock,Physical Neglect,4
4,2024,Armstrong,1-Lubbock,Sexual Abuse,3
5,2024,Bailey,1-Lubbock,Emotional Abuse,3
6,2024,Bailey,1-Lubbock,Neglectful Supervision,16
7,2024,Bailey,1-Lubbock,Physical Abuse,11
8,2024,Bailey,1-Lubbock,Physical Neglect,1
9,2024,Bailey,1-Lubbock,Sexual Abuse,5
10,2024,Briscoe,1-Lubbock,Neglectful Supervision,6
11,2024,Briscoe,1-Lubbock,Physical Abuse,1
12,2024,Briscoe,1-Lubbock,Physical Neglect,4
13,2024,Briscoe,1-Lubbock,Sexual Abuse,1
14,2024,Carson,1-Lubbock,Emotional Abuse,1
15,2024,Carson,1-Lubbock,Medical Neglect,5
16,2024,Carson,1-Lubbock,Neglectful Supervision,34
17,2024,Carson,1-Lubbock,Physical Abuse,7
18,2024,Carson,1-Lubbock,Physical Neglect,7
19,2024,Carson,1-Lubbock,Refusal To Accept Parental Responsibility,1

In [ ]:
##This cell gives us info about the data

In [127]:
df.info()

<class 'pandas.core.series.Series'>
RangeIndex: 17912 entries, 0 to 17911
Series name: Fiscal Year
Non-Null Count  Dtype
--------------  -----
17912 non-null  int64
dtypes: int64(1)
memory usage: 140.1 KB

In [ ]:
##This cell shows the tail end of the data

In [159]:
df.tail(20)

,Fiscal Year,County,Region,Type of Allegation,Allegation Count
17892,2015,Webb,11-Edinburg,Sexual Abuse,595
17893,2015,Willacy,11-Edinburg,Emotional Abuse,14
17894,2015,Willacy,11-Edinburg,Medical Neglect,42
17895,2015,Willacy,11-Edinburg,Neglectful Supervision,300
17896,2015,Willacy,11-Edinburg,Physical Abuse,118
17897,2015,Willacy,11-Edinburg,Physical Neglect,53
17898,2015,Willacy,11-Edinburg,Sexual Abuse,93
17899,2015,Zapata,11-Edinburg,Abandonment,1
17900,2015,Zapata,11-Edinburg,Emotional Abuse,2
17901,2015,Zapata,11-Edinburg,Medical Neglect,19
17902,2015,Zapata,11-Edinburg,Neglectful Supervision,130
17903,2015,Zapata,11-Edinburg,Physical Abuse,70
17904,2015,Zapata,11-Edinburg,Physical Neglect,43
17905,2015,Zapata,11-Edinburg,Refusal To Accept Parental Responsibility,1
17906,2015,Zapata,11-Edinburg,Sexual Abuse,22
17907,2015,Out of State,Out of State,Medical Neglect,4
17908,2015,Out of State,Out of State,Neglectful Supervision,56
17909,2015,Out of State,Out of State,Physical Abuse,10
17910,2015,Out of State,Out of State,Physical Neglect,4
17911,2015,Out of State,Out of State,Sexual Abuse,13

In [265]:
df.iloc

In [134]:
df.sort_index()

,Fiscal Year,County,Region,Type of Allegation,Allegation Count
0,2024,Armstrong,1-Lubbock,Medical Neglect,3
1,2024,Armstrong,1-Lubbock,Neglectful Supervision,12
2,2024,Armstrong,1-Lubbock,Physical Abuse,2
3,2024,Armstrong,1-Lubbock,Physical Neglect,4
4,2024,Armstrong,1-Lubbock,Sexual Abuse,3
...,...,...,...,...,...
17907,2015,Out of State,Out of State,Medical Neglect,4
17908,2015,Out of State,Out of State,Neglectful Supervision,56
17909,2015,Out of State,Out of State,Physical Abuse,10
17910,2015,Out of State,Out of State,Physical Neglect,4
17911,2015,Out of State,Out of State,Sexual Abuse,13

In [ ]:
##This cell sorted the values by year

In [135]:
df.sort_values(by='Fiscal Year')

,Fiscal Year,County,Region,Type of Allegation,Allegation Count
17911,2015,Out of State,Out of State,Sexual Abuse,13
16779,2015,Tarrant,3-Arlington,Physical Abuse,7427
16780,2015,Tarrant,3-Arlington,Physical Neglect,2779
16781,2015,Tarrant,3-Arlington,Refusal To Accept Parental Responsibility,176
16782,2015,Tarrant,3-Arlington,Sex Trafficking,2
...,...,...,...,...,...
1202,2024,Mills,7-Austin,Medical Neglect,2
1203,2024,Mills,7-Austin,Neglectful Supervision,24
1204,2024,Mills,7-Austin,Physical Abuse,14
1122,2024,Hays,7-Austin,Emotional Abuse,57
0,2024,Armstrong,1-Lubbock,Medical Neglect,3

In [ ]:
## This cell grouped data by Fiscal Year to only include 2024

In [266]:
df_2024 = df[df['Fiscal Year'] == 2024]
df_2024

,Fiscal Year,County,Region,Type of Allegation,Allegation Count
0,2024,Armstrong,1-Lubbock,Medical Neglect,3
1,2024,Armstrong,1-Lubbock,Neglectful Supervision,12
2,2024,Armstrong,1-Lubbock,Physical Abuse,2
3,2024,Armstrong,1-Lubbock,Physical Neglect,4
4,2024,Armstrong,1-Lubbock,Sexual Abuse,3
...,...,...,...,...,...
1790,2024,Out of State,Out of State,Medical Neglect,3
1791,2024,Out of State,Out of State,Neglectful Supervision,39
1792,2024,Out of State,Out of State,Physical Abuse,8
1793,2024,Out of State,Out of State,Physical Neglect,11
1794,2024,Out of State,Out of State,Sexual Abuse,1

In [ ]:
## This cell shows all the columns

In [252]:
print(df.columns)

Index(['Fiscal Year', 'County', 'Region', 'Type of Allegation',
       'Allegation Count'],
      dtype='object')

In [ ]:
## This cell sorted the values by the allegation count

In [253]:
df.sort_values("Allegation Count")

,Fiscal Year,County,Region,Type of Allegation,Allegation Count
3819,2022,Oldham,1-Lubbock,Refusal To Accept Parental Responsibility,1
9925,2019,Polk,5-Beaumont,Refusal To Accept Parental Responsibility,1
2659,2023,Sabine,5-Beaumont,Emotional Abuse,1
15831,2016,Maverick,8-San Antonio,Sex Trafficking,1
5872,2021,Throckmorton,2-Abilene,Emotional Abuse,1
...,...,...,...,...,...
10019,2019,Harris,6-Houston,Neglectful Supervision,23799
8214,2020,Harris,6-Houston,Neglectful Supervision,24363
11838,2018,Harris,6-Houston,Neglectful Supervision,24571
13620,2017,Harris,6-Houston,Neglectful Supervision,25376
6416,2021,Harris,6-Houston,Neglectful Supervision,25794

In [ ]:
## This cell showed what appeared most frequently in the data set

In [246]:
df.mode()

   Fiscal Year   County     Region      Type of Allegation  Allegation Count
0       2023.0    Bexar  1-Lubbock  Neglectful Supervision               1.0
1          NaN   Harris        NaN                     NaN               NaN
2          NaN  Tarrant        NaN                     NaN               NaN

In [ ]:
## This shows the sum of the data set

In [285]:
df.sum()

Fiscal Year                                                    36174168
County                ArmstrongArmstrongArmstrongArmstrongArmstrongB...
Region                1-Lubbock1-Lubbock1-Lubbock1-Lubbock1-Lubbock1...
Type of Allegation    Medical NeglectNeglectful SupervisionPhysical ...
Allegation Count                                                3594104
dtype: object

In [ ]:
## This cell shows the data sorted by allegation count and fiscal year

In [256]:
df.sort_values(['Allegation Count', 'Fiscal Year'])

,Fiscal Year,County,Region,Type of Allegation,Allegation Count
16224,2015,Armstrong,1-Lubbock,Emotional Abuse,1
16243,2015,Carson,1-Lubbock,Refusal To Accept Parental Responsibility,1
16250,2015,Childress,1-Lubbock,Emotional Abuse,1
16263,2015,Collingsworth,1-Lubbock,Refusal To Accept Parental Responsibility,1
16272,2015,Dallam,1-Lubbock,Emotional Abuse,1
...,...,...,...,...,...
10019,2019,Harris,6-Houston,Neglectful Supervision,23799
8214,2020,Harris,6-Houston,Neglectful Supervision,24363
11838,2018,Harris,6-Houston,Neglectful Supervision,24571
13620,2017,Harris,6-Houston,Neglectful Supervision,25376
6416,2021,Harris,6-Houston,Neglectful Supervision,25794

In [ ]:
## This cell flipped the datas columns and rows

In [257]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,17902,17903,17904,17905,17906,17907,17908,17909,17910,17911
Fiscal Year,2024,2024,2024,2024,2024,2024,2024,2024,2024,2024,...,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015
County,Armstrong,Armstrong,Armstrong,Armstrong,Armstrong,Bailey,Bailey,Bailey,Bailey,Bailey,...,Zapata,Zapata,Zapata,Zapata,Zapata,Out of State,Out of State,Out of State,Out of State,Out of State
Region,1-Lubbock,1-Lubbock,1-Lubbock,1-Lubbock,1-Lubbock,1-Lubbock,1-Lubbock,1-Lubbock,1-Lubbock,1-Lubbock,...,11-Edinburg,11-Edinburg,11-Edinburg,11-Edinburg,11-Edinburg,Out of State,Out of State,Out of State,Out of State,Out of State
Type of Allegation,Medical Neglect,Neglectful Supervision,Physical Abuse,Physical Neglect,Sexual Abuse,Emotional Abuse,Neglectful Supervision,Physical Abuse,Physical Neglect,Sexual Abuse,...,Neglectful Supervision,Physical Abuse,Physical Neglect,Refusal To Accept Parental Responsibility,Sexual Abuse,Medical Neglect,Neglectful Supervision,Physical Abuse,Physical Neglect,Sexual Abuse
Allegation Count,3,12,2,4,3,3,16,11,1,5,...,130,70,43,1,22,4,56,10,4,13

In [ ]:
## This cell grouped allegation count per count and then added them together

In [261]:
allegations_per_county_2024 = df_2024.groupby('County')['Allegation Count'].sum()
print (allegations_per_county_2024)

County
Anderson     602
Andrews      195
Angelina    1424
Aransas      330
Archer        74
            ...
Wood         547
Yoakum        56
Young        294
Zapata       122
Zavala       216
Name: Allegation Count, Length: 254, dtype: int64

In [ ]:
## This cell shows the allegation per county *Texas has 254*

In [264]:
allegations_per_county_2024.head(254)

County
Anderson     602
Andrews      195
Angelina    1424
Aransas      330
Archer        74
            ...
Wood         547
Yoakum        56
Young        294
Zapata       122
Zavala       216
Name: Allegation Count, Length: 254, dtype: int64

In [ ]:
## This cell added up all the allegations for 2024

In [284]:
allegations_per_county_2024.sum()

np.int64(306489)

In [ ]:
## This cell showed how the data is formatted in python/pandas

In [259]:
df.dtypes

Fiscal Year            int64
County                object
Region                object
Type of Allegation    object
Allegation Count       int64
dtype: object

In [ ]:
## This cell calculated the allegation count fo

In [258]:
df_2024.sum()

Fiscal Year                                                     3633080
County                ArmstrongArmstrongArmstrongArmstrongArmstrongB...
Region                1-Lubbock1-Lubbock1-Lubbock1-Lubbock1-Lubbock1...
Type of Allegation    Medical NeglectNeglectful SupervisionPhysical ...
Allegation Count                                                 306489
dtype: object

In [83]:
df.columns

Index(['Fiscal Year', 'County', 'Region', 'Type of Allegation',
       'Allegation Count'],
      dtype='object')

In [84]:
df.dtypes

Fiscal Year            int64
County                object
Region                object
Type of Allegation    object
Allegation Count       int64
dtype: object

In [64]:
print(len(df))

17912

In [164]:
print(len(df_2024))

1795

In [286]:
print(len(allegations_per_county_2024))

254

In [ ]:
pr

In [51]:
df['Fiscal Year']

0        2024
1        2024
2        2024
3        2024
4        2024
         ...
17907    2015
17908    2015
17909    2015
17910    2015
17911    2015
Name: Fiscal Year, Length: 17912, dtype: int64

In [314]:
df_2024['Fiscal Year'].median()

np.float64(2024.0)

In [55]:
df['Fiscal Year'].mean()

np.float64(2019.5493523894595)

In [222]:
count_value = df['Type of Allegation'].value_counts()
print(count_value)

Type of Allegation
Neglectful Supervision                       2524
Physical Abuse                               2483
Sexual Abuse                                 2462
Physical Neglect                             2377
Medical Neglect                              2331
Emotional Abuse                              2167
Refusal To Accept Parental Responsibility    1589
Sex Trafficking                               879
Abandonment                                   872
Labor Trafficking                             228
Name: count, dtype: int64

In [224]:
df['Type of Allegation'].mode()

0    Neglectful Supervision
Name: Type of Allegation, dtype: object

In [58]:
df['Type of Allegation'].describe()

count                      17912
unique                        10
top       Neglectful Supervision
freq                        2524
Name: Type of Allegation, dtype: object

In [139]:
df_2024.mean

<bound method DataFrame.mean of       Fiscal Year        County        Region      Type of Allegation  \
0            2024     Armstrong     1-Lubbock         Medical Neglect
1            2024     Armstrong     1-Lubbock  Neglectful Supervision
2            2024     Armstrong     1-Lubbock          Physical Abuse
3            2024     Armstrong     1-Lubbock        Physical Neglect
4            2024     Armstrong     1-Lubbock            Sexual Abuse
...           ...           ...           ...                     ...
1790         2024  Out of State  Out of State         Medical Neglect
1791         2024  Out of State  Out of State  Neglectful Supervision
1792         2024  Out of State  Out of State          Physical Abuse
1793         2024  Out of State  Out of State        Physical Neglect
1794         2024  Out of State  Out of State            Sexual Abuse

      Allegation Count
0                    3
1                   12
2                    2
3                    4
4                    3
...                ...
1790                 3
1791                39
1792                 8
1793                11
1794                 1

[1795 rows x 5 columns]>

In [104]:
df.sum

<bound method Series.sum of 0        2024
1        2024
2        2024
3        2024
4        2024
         ...
17907    2015
17908    2015
17909    2015
17910    2015
17911    2015
Name: Fiscal Year, Length: 17912, dtype: int64>

In [281]:
allegation_types.sum()

np.int64(17912)

In [282]:
df_2024.sum()

Fiscal Year                                                     3633080
County                ArmstrongArmstrongArmstrongArmstrongArmstrongB...
Region                1-Lubbock1-Lubbock1-Lubbock1-Lubbock1-Lubbock1...
Type of Allegation    Medical NeglectNeglectful SupervisionPhysical ...
Allegation Count                                                 306489
dtype: object

In [149]:
allegation_counts_2024 = df[df['Fiscal Year']== 2024].groupby('Type of Allegation')['Allegation Count'].sum()
print(allegation_counts_2024)

Type of Allegation
Abandonment                                     666
Emotional Abuse                                7291
Labor Trafficking                                52
Medical Neglect                               13237
Neglectful Supervision                       159035
Physical Abuse                                55785
Physical Neglect                              21328
Refusal To Accept Parental Responsibility      2279
Sex Trafficking                                 642
Sexual Abuse                                  46174
Name: Allegation Count, dtype: int64

In [291]:
df_2024.columns()

TypeError: 'Index' object is not callable

In [269]:
county_2024 = df[df['Fiscal Year']== 2024].groupby('County')['Allegation Count'].sum()
print(county_2024)
## the number of allegations counts by county

County
Anderson     602
Andrews      195
Angelina    1424
Aransas      330
Archer        74
            ...
Wood         547
Yoakum        56
Young        294
Zapata       122
Zavala       216
Name: Allegation Count, Length: 254, dtype: int64

In [306]:
county_totals = county_2024.groupby('County').sum()
print(county_totals)

County
Anderson     602
Andrews      195
Angelina    1424
Aransas      330
Archer        74
            ...
Wood         547
Yoakum        56
Young        294
Zapata       122
Zavala       216
Name: Allegation Count, Length: 254, dtype: int64

In [308]:
county_totals.sort_values()

County
Roberts         1
Terrell         1
McMullen        2
Borden          2
Loving          2
            ...
Travis       9780
Tarrant     22161
Dallas      23983
Bexar       26222
Harris      44565
Name: Allegation Count, Length: 254, dtype: int64

In [294]:
county_2024.max()

np.int64(44565)

In [272]:
county_2024.describe()

count      254.000000
mean      1206.649606
std       3998.475975
min          1.000000
25%         74.250000
50%        250.000000
75%        655.500000
max      44565.000000
Name: Allegation Count, dtype: float64

In [275]:
county_2024.sum()

np.int64(306489)

In [196]:
df.groupby("County")["Allegation Count"].sum().sort_values(ascending=False).head(5)
## counties with the highest type of allegation

County
Harris     501089
Bexar      298590
Dallas     292471
Tarrant    271256
Travis     120998
Name: Allegation Count, dtype: int64

In [202]:
df.groupby("County")["Allegation Count"].sum().sort_values(ascending=False).head(20)

County
Harris        501089
Bexar         298590
Dallas        292471
Tarrant       271256
Travis        120998
Hidalgo       117894
El Paso        98898
Bell           67944
Denton         66383
Collin         64836
Montgomery     64324
Nueces         63582
Cameron        61459
Lubbock        50526
Fort Bend      48550
McLennan       46002
Williamson     45770
Galveston      40470
Jefferson      36719
Taylor         36655
Name: Allegation Count, dtype: int64

In [ ]:
df.groupby

In [189]:
county_2024.value_counts()

Allegation Count
14      5
113     3
28      3
25      3
2       3
       ..
367     1
351     1
1832    1
1507    1
216     1
Name: count, Length: 222, dtype: int64

In [299]:
county_2024.head(101)

County
Anderson      602
Andrews       195
Angelina     1424
Aransas       330
Archer         74
            ...
Hamilton      164
Hansford       39
Hardeman       56
Hardin        669
Harris      44565
Name: Allegation Count, Length: 101, dtype: int64

In [167]:
df.isna()
## zero missing data

       Fiscal Year  County  Region  Type of Allegation  Allegation Count
0            False   False   False               False             False
1            False   False   False               False             False
2            False   False   False               False             False
3            False   False   False               False             False
4            False   False   False               False             False
...            ...     ...     ...                 ...               ...
17907        False   False   False               False             False
17908        False   False   False               False             False
17909        False   False   False               False             False
17910        False   False   False               False             False
17911        False   False   False               False             False

[17912 rows x 5 columns]

In [184]:
df.reset_index().sort_values(by = "County", ascending=False)
## Rows sorted by county from Z-A

,index,Fiscal Year,County,Region,Type of Allegation,Allegation Count
1453,1453,2024,Zavala,8-San Antonio,Emotional Abuse,2
1459,1459,2024,Zavala,8-San Antonio,Sexual Abuse,40
5088,5088,2022,Zavala,8-San Antonio,Refusal To Accept Parental Responsibility,1
5087,5087,2022,Zavala,8-San Antonio,Physical Neglect,16
5086,5086,2022,Zavala,8-San Antonio,Physical Abuse,33
...,...,...,...,...,...,...
2407,2407,2023,Anderson,4-Tyler,Neglectful Supervision,311
2406,2406,2023,Anderson,4-Tyler,Medical Neglect,28
2405,2405,2023,Anderson,4-Tyler,Emotional Abuse,14
16794,16794,2015,Anderson,4-Tyler,Medical Neglect,38
13273,13273,2017,Anderson,4-Tyler,Neglectful Supervision,439

In [313]:
cases_per_year = df.groupby('Fiscal Year')['Allegation Count'].sum()
print(cases_per_year)

Fiscal Year
2015    399306
2016    381423
2017    398738
2018    374769
2019    348865
2020    328306
2021    344571
2022    356345
2023    355292
2024    306489
Name: Allegation Count, dtype: int64

In [5]:
import pandas as pd 
cases_per_year = pd.DataFrame ({ 'Fiscal Year': [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024],
                                'Allegation Count': [399306, 381423, 398738,374769, 348865, 328306, 344571, 356345, 355292, 306489]
                               })

In [320]:
## This cell shows the number

In [8]:
(cases_per_year.to_csv("../output/cases_year.csv",))

OSError: Cannot save file into a non-existent directory: '../output'