### CPS claims analysis

This notebook runs analyses on CPS claims in Texas tp find yearly tallies

In [1]:
import pandas as pd

Load the data

In [2]:
df=pd.read_csv("../Data/investigations.csv")

df.head()

   Fiscal Year     County     Region      Type of Allegation  Allegation Count
0         2024  Armstrong  1-Lubbock         Medical Neglect                 3
1         2024  Armstrong  1-Lubbock  Neglectful Supervision                12
2         2024  Armstrong  1-Lubbock          Physical Abuse                 2
3         2024  Armstrong  1-Lubbock        Physical Neglect                 4
4         2024  Armstrong  1-Lubbock            Sexual Abuse                 3

Filter data to 2024

In [3]:
df_2024 = df[df['Fiscal Year'] == 2024]
df_2024.head()

   Fiscal Year     County     Region      Type of Allegation  Allegation Count
0         2024  Armstrong  1-Lubbock         Medical Neglect                 3
1         2024  Armstrong  1-Lubbock  Neglectful Supervision                12
2         2024  Armstrong  1-Lubbock          Physical Abuse                 2
3         2024  Armstrong  1-Lubbock        Physical Neglect                 4
4         2024  Armstrong  1-Lubbock            Sexual Abuse                 3

This cell grouped allegation count per count and then added them together

In [4]:
allegations_per_county_2024 = df_2024.groupby('County')['Allegation Count'].sum()
allegations_per_county_2024.head()

County
Anderson     602
Andrews      195
Angelina    1424
Aransas      330
Archer        74
Name: Allegation Count, dtype: int64

Calculate the number of cases by type of allegations for all years:

In [5]:
count_value = df['Type of Allegation'].value_counts()
print(count_value)

Type of Allegation
Neglectful Supervision                       2524
Physical Abuse                               2483
Sexual Abuse                                 2462
Physical Neglect                             2377
Medical Neglect                              2331
Emotional Abuse                              2167
Refusal To Accept Parental Responsibility    1589
Sex Trafficking                               879
Abandonment                                   872
Labor Trafficking                             228
Name: count, dtype: int64

Calculate the number of cases by type of allegations in 2024:

In [6]:
count_value = df_2024['Type of Allegation'].value_counts()
count_value.head()

Type of Allegation
Neglectful Supervision    252
Physical Abuse            247
Sexual Abuse              241
Physical Neglect          237
Medical Neglect           231
Name: count, dtype: int64

Calculate allegation counts for 2024:

In [7]:
allegation_counts_2024 = df[df['Fiscal Year']== 2024].groupby('Type of Allegation')['Allegation Count'].sum()
print(allegation_counts_2024)

Type of Allegation
Abandonment                                     666
Emotional Abuse                                7291
Labor Trafficking                                52
Medical Neglect                               13237
Neglectful Supervision                       159035
Physical Abuse                                55785
Physical Neglect                              21328
Refusal To Accept Parental Responsibility      2279
Sex Trafficking                                 642
Sexual Abuse                                  46174
Name: Allegation Count, dtype: int64

The number of allegations counts by county

In [8]:
county_2024 = df[df['Fiscal Year']== 2024].groupby('County')['Allegation Count'].sum()
county_2024.head()

County
Anderson     602
Andrews      195
Angelina    1424
Aransas      330
Archer        74
Name: Allegation Count, dtype: int64

The numnber of times counties appear in the dataset:

In [9]:
county_totals = county_2024.groupby('County').sum()
print(county_totals)

County
Anderson     602
Andrews      195
Angelina    1424
Aransas      330
Archer        74
            ...
Wood         547
Yoakum        56
Young        294
Zapata       122
Zavala       216
Name: Allegation Count, Length: 254, dtype: int64

In [10]:
county_totals.sort_values(ascending=False)

County
Harris      44565
Bexar       26222
Dallas      23983
Tarrant     22161
Travis       9780
            ...
Borden          2
Loving          2
McMullen        2
Terrell         1
Roberts         1
Name: Allegation Count, Length: 254, dtype: int64

Counties with the highest counts of allegations:

In [12]:
df.groupby("County")["Allegation Count"].sum().sort_values(ascending=False).head(20)

County
Harris        501089
Bexar         298590
Dallas        292471
Tarrant       271256
Travis        120998
Hidalgo       117894
El Paso        98898
Bell           67944
Denton         66383
Collin         64836
Montgomery     64324
Nueces         63582
Cameron        61459
Lubbock        50526
Fort Bend      48550
McLennan       46002
Williamson     45770
Galveston      40470
Jefferson      36719
Taylor         36655
Name: Allegation Count, dtype: int64

Calculate allgations by county for all years

In [13]:
cases_per_year = df.groupby('Fiscal Year')['Allegation Count'].sum()
print(cases_per_year)

Fiscal Year
2015    399306
2016    381423
2017    398738
2018    374769
2019    348865
2020    328306
2021    344571
2022    356345
2023    355292
2024    306489
Name: Allegation Count, dtype: int64

In [14]:
cases_per_year.to_csv("../output/cases_year.csv")